@model IEnumerable<PropostaAnuncioViewModel>
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Tradeguard2.Data
@using Tradeguard2.Helpers
@using Tradeguard2.Helpers
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext ApplicationDbContext
@{
    ViewData["Title"] = "Index";

    var mediaQueryAnuncios = @"
        @media screen and (max-width: 960px) {
            .cardProposta {
                /* Estilos específicos para a seção de anúncios publicados */
                flex-direction: column;
                /* Adicione outros estilos conforme necessário */
            }
  .button-container{
    display:block;
        }
            .imgProposta {
                /* Estilos específicos para a seção de anúncios publicados */
                max-width: 100%;
                border-radius: 10px 10px 0 0;
                /* Adicione outros estilos conforme necessário */
            }

            .card-info-proposta {
                /* Estilos específicos para a seção de anúncios publicados */
                padding: 10px;
                /* Adicione outros estilos conforme necessário */
            }

            #tituloProposta {
                /* Estilos específicos para a seção de anúncios publicados */
                font-size: 20px;
                /* Adicione outros estilos conforme necessário */
            }

            #precoProposta {
                /* Estilos específicos para a seção de anúncios publicados */
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 0px;
                margin-left: 0px;
                /* Adicione outros estilos conforme necessário */
            }

            .button-container-proposta {
                /* Estilos específicos para a seção de anúncios publicados */
                flex-direction: column;
                /* Adicione outros estilos conforme necessário */
            }

            .button-acao,
            .button-recusar,
            #botao_anunciar {
                width: 100%;
                padding: 8px;
                /* Adicione outros estilos conforme necessário */
            }
        }
    ";

    var mediaQueryPropostas = @"
        @media screen and (max-width: 600px) {
            .cardProposta {
                /* Estilos específicos para a seção de propostas de aceite */
                flex-direction: column;
                /* Adicione outros estilos conforme necessário */
            }

            .imgProposta {
                /* Estilos específicos para a seção de propostas de aceite */
                max-width: 100%;
                border-radius: 10px 10px 0 0;
                /* Adicione outros estilos conforme necessário */
            }

            .card-info-proposta {
                /* Estilos específicos para a seção de propostas de aceite */
                padding: 10px;
                /* Adicione outros estilos conforme necessário */
            }

            #tituloProposta {
                /* Estilos específicos para a seção de propostas de aceite */
                font-size: 20px;
                /* Adicione outros estilos conforme necessário */
            }

            #precoProposta {
                /* Estilos específicos para a seção de propostas de aceite */
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 0px;
                margin-left: 0px;
                /* Adicione outros estilos conforme necessário */
            }

            .button-container-proposta {
                /* Estilos específicos para a seção de propostas de aceite */
                flex-direction: column;
                /* Adicione outros estilos conforme necessário */
            }

            .button-acao,
            .button-recusar,
            #botao_anunciar {
                width: 100%;
                padding: 8px;
                /* Adicione outros estilos conforme necessário */
            }
        }
    ";
}

@section Style {
    <style>
        /* (Estilos existentes) */
 .cardProposta {
            display: flex;
            border: 1px solid #e0e0e0;
            border-radius: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            overflow: hidden;
            width: 100%;
            background-color: white;
            transition: transform 0.2s;
      -webkit-box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.15);
            border-radius: 10px;
            padding: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .imgProposta {
            flex: 1;
            max-width: 300px;
            border-radius: 10px 0 0 10px;
        }

        .imgProposta img {
            width: 100%;
            border-radius: 10px;
            height: auto;
        }

        .card-info-proposta {
            flex: 2;
            padding: 20px;
        }

        #tituloProposta {
            font-size: 24px;
            font-weight: bold;
            align-items: start;
        }

        #precoProposta {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 0px;
            margin-left: 5px;
        }

        .button-container-proposta {
            display: flex;
            gap: 10px;
            margin-top: 20px;
        }

        .button-acao, .button-recusar {
            background-color: #4CAF50;
            border-color: #4CAF50;
            color: white;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
        }

        .button-acao:hover, .button-recusar:hover {
            background-color: white;
            color: #4CAF50;
            border-color: #4CAF50;
            border-width: 1px;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
        }

        .separador {
            border-top: 1px solid #112647;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #botao_anunciar {
            color: white;
            background-color: #112647;
            border-color: white;
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
            text-decoration: none;
            padding: 10px;
            cursor: pointer;
        }

        #botao_anunciar:hover {
            color: white;
            background-color: #112647;
            border-color: white;
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
            text-decoration: none;
            padding: 10px;
            cursor: pointer;
        }
        #btnDelete{
              color: #112647;
            background-color: white;
            border-color: #112647;
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
            text-decoration: none;
            padding: 10px;
            cursor: pointer;
        }
        #btnDelete:hover{
             color: #112647;
            background-color: white;
            border-color: #112647;
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
            text-decoration: none;
            padding: 10px;
            cursor: pointer;
        }
        .button-container{
            display: flex;
        gap: 10px;
        }

        @Html.Raw(mediaQueryAnuncios)
        @Html.Raw(mediaQueryPropostas)
    </style>
}

<div>
    <div class="organizador_botoes" style="margin-top:30px;">
        <div>
            <h1 class="titulo">Anúncios publicados</h1>
        </div>
    </div>
    <div class="separador"></div>
    @{
        var userLoginId = await UserManager.GetUserAsync(User);

        if (userLoginId != null)
        {
            if (Model.Any())
            {
                @foreach (var item in Model)
                {
                    var anuncio = item.Anuncio;
                    var proposta = item.Proposta;
                    var anuncios = ApplicationDbContext.PropostasDeCompra.Where(p => p.Id_Anuncio == item.Anuncio.Id_anuncio).ToList().Count();

                    <div class="cardProposta">
                        <div class="imgProposta">
                            <img class="card-img-top" src="@ImageHelper.GetImageLink(anuncio.Imagem_destaque, "AnunciosEnviado")" alt="Imagem do Anúncio" asp-append-version="true" />
                        </div>
                        <div class="card-info-proposta">
                            <p id="tituloProposta">@Html.DisplayFor(modelItem => anuncio.Titulo)</p>
                            <p id="precoProposta">@Html.DisplayFor(modelItem => anuncio.Preco)€</p>
                            <p id="localizacao_hora">@Html.DisplayFor(modelItem => anuncio.localizacao)</p>
                            <div class="button-container">
                                <form asp-action="Details" asp-controller="Anuncios" method="post">
                                    <input type="hidden" name="id" value="@Html.DisplayFor(modelItem =>anuncio.Id_anuncio)" />
                                    <button type="submit" id="botao_anunciar">Ver Anúncio</button>
                                </form>
                                @if (anuncios == 0)
                                {
                                    <button type="button" class="btn btn-primary" id="botao_anunciar" data-toggle="modal" data-target="#exampleModalProposta">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                        </svg>
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModalProposta" tabindex="-1" role="dialog" aria-labelledby="exampleModalPropostaTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Remover anúncio</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Tem certeza de que deseja excluir este anúncio?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    <form asp-action="DeleteConfirmed" asp-controller="Anuncios" method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="Id_Anuncio" value="@Html.DisplayFor(modelItem => anuncio.Id_anuncio)">
                                        <button type="submit" class="btn btn-danger" id="btnConfirmDelete">Excluir</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Não existem Anuncios publicados. Publique o seu Primeiro anúncio <a asp-action="Create" asp-controller="Anuncios">Aqui!</a></p>
            }
        }
    }
    <div class="separador"></div>
</div>
@section Scripts {
        
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

}



